*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f1f1f1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    display: inline;
    padding-left: 10px;
    padding-right: 50px;
}

h2{
    background-image: linear-gradient(to right, rgb(167, 231, 231), rgba(137, 207, 207, 0.021));
    margin-top: 30px;
}

h5{
    text-align: center;
    margin: 20px;
}

nav{
    display: flex;
    background-image: linear-gradient(to top, rgb(137, 207, 207), rgb(108, 163, 163));
    height: 80px;
    margin-bottom: 40px;
}

nav > a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 30px;
    padding: 10px;
}

a:hover{
    color: whitesmoke;
    background-color: rgba(240, 248, 255, 0.301);
}

.cx1{
    background-color: white;
    min-width: 400px;
    max-width: 750px;
    padding: 1px 30px 20px 30px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.486);
}

.cx2{
    margin-top: 35px;
    background-color:rgb(190, 230, 248);
    padding: 0px 30px 20px 30px;
    border-radius: 10px;
}

p{
    text-align: justify;
    margin-top: 15px;
}

.lista1{
    display: inline-block;
    margin-right: 150px;
    padding-left: 25px;
}

.lista2{
    display: inline-block;
}

.cx2 > h2{
    margin: 0px 0px 0px -30px;
    width: 100%;
    display: inline-block;
    background-image: none;
    background-color: rgb(205, 219, 241);
    padding-right: 45px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.video1{
    margin-top: 20px;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.video1 > iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}